* {
 font-size: 100%;
 /* font-family: "Comic Sans MS", cursive, sans-serif; */
}

.orange {
  color: #ff9c33;
}

/* Header */
.header {
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../files/gifs/Penguin.gif) scroll;
  z-index: -5;
}

.headerText {
  color: yellow;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	padding-top: 150px;
	padding-bottom: 150px;
}

/* About */
.about {
  padding: 50px 0;
  background-color: #ffe066;
}

/* Courses */
.courses {
  padding: 50px 0;
  background-color: white;
}

/* Projects */
.projects {
  padding: 50px 0;
  background-color: #ffe066;
}

/* Gallery */
.gallery {
  padding: 50px 0;
  background-color: white;
}

/* Contact */
.contact {
  padding: 50px 0;
  background-color: #ffe066;
}

/* Footer */
.footer {
  padding: 50px 0;
  background-color: white;
}

/* Doge bonk things */
.prebonk {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
.postbonk {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: -2;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.blackjack {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
