* {
 font-size: 100%;
 /* font-family: "Comic Sans MS", cursive, sans-serif; */
}

.orange {
  color: #ff9c33;
}

/* Header */
.header {
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../files/gifs/Penguin.gif) scroll;
  z-index: -5;
}

.headerText {
  color: yellow;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	padding-top: 150px;
	padding-bottom: 150px;
}

/* About */
.about {
  padding: 50px 0;
  background-color: #ffe066;
}

/* Courses */
.courses {
  padding: 50px 0;
  background-color: white;
}

/* Projects */
.projects {
  padding: 50px 0;
  background-color: #ffe066;
}

/* Gallery */
.gallery {
  padding: 50px 0;
  background-color: white;
}

/* Contact */
.contact {
  padding: 50px 0;
  background-color: #ffe066;
}

/* Footer */
.footer {
  padding: 50px 0;
  background-color: white;
}

/* Doge bonk things */
.prebonk {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}
.postbonk {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: -2;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.blackjack {
  margin: 0;
  height: 100%;
  background-color: #ffe066;
}

.centered {
  text-align: center;
}

.singleHandArea {
  width: 100%;
  height: 200px;
  position: relative;
  overflow-x: auto;
}

.card {
  width: 125px;
  height: 175px;
  position: absolute;
  opacity: 0;
}

.scrollingGameMode {
  position: relative;
  overflow-x: auto;
}

.cardActions {
  text-align: center;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gameConclusionCard {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  font-weight: bold;
  font-size: 28px;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.fade-in-image {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
